.btn {
  padding: 26px 55px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  background-color: #f7515c;
  transition: all 0.3s ease-in-out;

  @media (min-width: 767.98px) {
    &:hover {
      background-color: lighten($color: #f7515c, $amount: 10);
    }
  }
  &:active {
    background-color: darken($color: #f7515c, $amount: 10);
  }

  @media (max-width: 425px) {
    padding: 15px 35px;
  }
}
