.product {
  .container {
    overflow: hidden;
    @media (max-width: 767.98px) {
      padding-bottom: 100px;
    }
  }
  .slick-list {
    overflow: initial;
  }

  &__header {
    margin-bottom: 44px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.arrow-prev,
.arrow-next {
  position: absolute;
  width: 48px;
  height: 48px;
  border: 2px solid #282a30;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  img {
    width: 7px;
  }
  @media (min-width: 767.98px) {
    &:hover {
      transform: translateY(-5px);
    }
  }
}

.arrow-prev {
  right: 95px;
  bottom: 110%;
  @media (max-width: 767.98px) {
    bottom: auto;
    top: 105%;
  }
  img {
    transform: rotate(180deg);
  }
}

.arrow-next {
  right: 0;
  bottom: 110%;
  @media (max-width: 767.98px) {
    bottom: auto;
    top: 105%;
  }
}

.product-card {
  margin: 0 15.5px;
  text-align: center;
  padding-bottom: 10px;
  transition: all 0.3s ease-in-out;

  @media (min-width: 767.98px) {
    &:hover {
      transform: translateY(-20px) scale(1.02);
      box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
    }
  }

  &__img {
    width: 100%;
    margin-bottom: 44px;

    img {
      width: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #282a30;
    margin-bottom: 17px;
  }

  &__prise {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: rgba(40, 42, 48, 0.3);
  }
}
