.nav {
  @media (max-width: 767.98px) {
    position: absolute;
    z-index: 90;
    width: 100vw;
    top: 0;
    left: 0;

    &.menu-open {
      .nav__list {
        left: 0;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 105px;

    @media (max-width: 1440px) {
      gap: 50px;
    }

    @media (max-width: 767.98px) {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 120%;
      background-color: rgba(40, 42, 48, 0.9);
      color: #fff;
      font-size: 20px;
      flex-direction: column;
      justify-content: center;
      transition: all 0.3s ease-in-out;
    }
  }

  &__item {
    position: relative;
    // color: inherit;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 0%;
      height: 2px;
      border-radius: 20px;
      background-color: #282a30;
      transition: all 0.3s ease-in-out;
    }

    @media (min-width: 767.98px) {
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }

  &__link {
    color: inherit;
  }
}
